.jfx-button{
    -fx-background-color: #3F51B5;
    -fx-text-fill: white;
    -fx-background-radius: 0;
}

.jfx-button:hover{
    -fx-background-color: #3949AB;
}

VBox{
    -fx-background-color: #3F51B5;
}

HBox{
    -fx-background-color: #EEEEEE;
}